# IntelliJ IDEA
.idea/
*.iml
out/

# User-specific stuff
*.iws
*.ipr

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Gradle
.gradle/
build/

# Maven
target/

# Java
*.class
*.jar
*.war
*.ear

# Backup files
*~
*.swp
